<h4 style="margin-bottom: 10px;">Questions?</h4>
<div style="color: #A5A5A5; font-size: 12px;">
  <p>If you have any questions please contact us at <a href="#"
      style="text-decoration: underline; color: #4B72FA;">hello@foxwire.ng</a>
  </p>
</div>